{% from "components/icon.html" import icon %}
{% if page_data.global_alert %}
    {% set modifier = page_data.global_alert.theme|default("yellow") %}
    <div class="alert-banner alert-banner--{{ modifier }}"
        {% if modifier == "red" %}role="alert"{% else %}role="status" aria-live="polite"{% endif %}>
        <div class="alert-banner__container u-layout">
            <div class="alert-banner__alert col-span-full">
                <span class="alert-banner__icon" aria-hidden="true">
                    {% if modifier == "info" %}
                        {{ icon("info-circle", viewbox="0 0 24 24") }}
                    {% elif modifier == "positive" %}
                        {{ icon("check-circle", viewbox="0 0 24 24") }}
                    {% else %}
                        {{ icon("warning", viewbox="0 0 24 24") }}
                    {% endif %}
                </span>
                <p class="alert-banner__message">{{ page_data.global_alert.message | tna_html | safe }}</p>
            </div>
        </div>
    </div>
{% endif %}
