{# Page Header component #}
{% macro page_header(title, introduction='', show_introduction=True, modifier='') %}
    <div class="page-header{% if modifier %} page-header--{{ modifier }}{% endif %}">
        <div class="page-header__container tna-container">
            <h1 class="page-header__title heading heading--one tna-column tna-column--full">{{ title }}</h1>
            {% if show_introduction and introduction %}
                <p class="page-header__introduction tna-column tna-column--full body body--feature">{{ introduction }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}
