@use "../config" as *;

// Styles the no-js version of the A-Z list
.a-z-list {
  $root: &;
  margin-bottom: $grid-xl;

  display: flex;
  gap: $grid-xxs;

  flex-flow: row wrap;

  &__item {
    list-style: none;
  }

  &__link {
    &[aria-current="page"] {
      color: var(--theme-text-meta);
      text-decoration: underline;
    }
  }
}
