@use "../config" as *;

.bookmarklet {
  padding: $grid-xs $grid-s;

  display: inline-flex;
  align-items: center;

  position: relative;

  color: var(--theme-link);
  font-weight: $weight-bold;
  text-decoration: none;

  background-color: var(--theme-secondary-background);

  border: 2px solid var(--theme-link);

  cursor: move;

  &::before,
  &::after {
    content: "";

    display: block;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    width: 9px;
    height: 13px;
    margin-right: 0.75rem;

    flex-shrink: 0;

    background-image: url("../images/cssBackgrounds/bookmarklet-dots.png");
  }

  &::after {
    width: 55px;
    height: 36px;

    position: absolute;
    right: -70px;

    background-image: url("../images/cssBackgrounds/bookmarklet-drag.png");
  }

  &:visited,
  &:hover {
    color: var(--color-grey-700);
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}
