@use "../config" as *;

.breadcrumb {
  padding: $grid-s 0;

  background-color: var(--theme-primary);
  border-bottom: 1px solid var(--theme-border);

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin: 0 5px 0 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    color: var(--theme-text-invert);

    // On small and medium breakpoints, only show the parent section
    &:not(:nth-last-child(2)) {
      display: none;

      @include media-query(large) {
        display: list-item;
      }
    }
  }

  &__icon {
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.25em;

    vertical-align: middle;

    fill: currentcolor;

    @include media-query(large) {
      display: none;
    }
  }

  &__separator {
    display: none;

    @include media-query(large) {
      display: inline;
    }
  }

  &__link {
    color: var(--theme-link-invert);
    text-decoration: underline;

    &:link {
      color: var(--theme-link-invert);
    }

    &:visited {
      color: var(--theme-link-invert);
    }

    &:hover,
    &:active {
      color: var(--theme-link-invert-hover);
    }

    &:focus {
      color: var(--theme-link-invert-focus);
    }
  }
}
