@use "../config" as *;

.featured-search {
  $root: &;
  padding: $grid-m 0;
  background-color: var(--theme-primary);

  &--transparent {
    background-color: transparent;
    padding-top: 0;

    #{$root}__label {
      display: inline-block;
      color: var(--theme-text-default);
      font-weight: $weight-bold;
      margin-bottom: $grid-xs;
    }

    #{$root}__input {
      width: 100%;
      border: 1px solid var(--theme-border);
      padding-left: $grid-xxs;
    }

    #{$root}__input-container {
      display: flex;
      flex-direction: row;
      place-items: center;
      gap: $grid-xxs;
    }

    #{$root}__clear {
      margin-left: $grid;
    }
  }

  &__content {
    color: var(--theme-text-invert);
  }

  &__label {
    margin: 0 0 $grid-xxs;
    color: var(--theme-text-invert);
    flex-basis: 100%;
  }

  &__options {
    margin-bottom: $grid-xxs;
    padding: 0;
    display: flex;
    gap: $grid-m;
    border: 0;
    flex-basis: 100%;
  }

  &__radio {
    display: flex;
    align-items: center;
    color: var(--theme-text-invert);
    font-family: $font-secondary;
    text-transform: capitalize;
    cursor: pointer;

    @include media-query(medium) {
      text-transform: none;
    }

    &-optional {
      display: none;

      @include media-query(medium) {
        display: inline;
      }
    }

    input[type="radio"] {
      width: 18px;
      height: 18px;
      margin-right: $grid-xs;
      appearance: none;
      position: relative;
      background: transparent;
      border: 2px solid var(--theme-text-invert);
      border-radius: 50%;
      cursor: pointer;

      &:checked::after {
        content: "";
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: var(--theme-text-invert);
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }

      &:focus {
        outline: $focus-width solid $focus-bg;
      }
    }
  }

  &__form {
    display: flex;
    flex-flow: column wrap;
    gap: $grid-xs;

    @include media-query(medium) {
      flex-direction: row;
    }
  }

  &__input {
    min-width: 0;
    max-width: 80%; // allow for clear button
    padding: $grid-xs $grid-s;
    font-family: $font-secondary;
    flex: 1 1 auto;
    border: 2px solid transparent;

    @include media-query(medium) {
      flex-basis: 75%;
      max-width: 800px;
    }

    &:focus {
      border-color: $focus-color;
      outline: $focus-width solid $focus-bg;
    }
  }

  &__input-container {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: row;
    gap: $grid-xs;
  }

  &__button {
    flex-shrink: 0;
  }

  &__help {
    margin: $grid-xs 0 0;
    color: var(--theme-text-invert);
  }

  &--secondary {
    margin-bottom: $grid-m;
    background-color: var(--theme-secondary);

    @include media-query(medium) {
      margin-bottom: $grid-l;
    }

    #{$root}__content {
      color: var(--theme-text-default);
    }

    #{$root}__label {
      color: var(--theme-primary);
    }

    #{$root}__radio {
      color: var(--theme-text-default);

      input[type="radio"] {
        border-color: var(--theme-text-default);

        &:checked::after {
          background: var(--theme-text-default);
        }
      }
    }

    #{$root}__help {
      color: var(--theme-text-default);
    }
  }
}
