@use "../config" as *;

.hero {
  $root: &;
  color: var(--theme-text-invert);

  background-color: var(--theme-primary);
  border-bottom: 1px solid var(--theme-border);

  @include media-query(medium) {
    @include z-index(base);
    position: relative;
    border-bottom: 0;
  }

  &__background {
    overflow: hidden;

    @include media-query(medium) {
      @include z-index(under);
      position: absolute;
      inset: 0;
    }
  }

  &__background-image {
    width: 100%;
    height: auto;

    display: block;

    @include media-query(medium) {
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    padding-top: $grid-m;
    padding-bottom: $grid-m;

    @include media-query(medium) {
      @include z-index(base);
      padding-top: 200px;
      padding-bottom: $grid-m;

      position: relative;
    }

    @include media-query(large) {
      padding-top: $grid-xl;
      padding-bottom: $grid-l;
    }
  }

  &__content {
    @include media-query(medium) {
      padding: $grid-m;

      color: var(--theme-text-default);

      background-color: var(--theme-primary-background);
    }
  }

  &__title {
    max-width: 500px;
    margin: 0 0 $grid-s;
  }

  &__strapline {
    margin: 0;
  }
}
