@use "../config" as *;

.image-block {
  &__image {
    img {
      width: 100%;
      height: auto;

      display: block;
    }
  }

  &__caption {
    @include font-size(supporting) {
      margin: 0;
      padding: $grid-xs 0;

      color: var(--theme-text-meta);
    }
  }
}
