@use "../config" as *;

.listing-item {
  padding: $grid-s 0;
  border-top: 1px solid var(--theme-border);

  list-style: none;

  &:last-child {
    border-bottom: 1px solid var(--theme-border);
  }

  &__category {
    margin-bottom: $grid-xxs;

    display: block;

    color: var(--theme-primary);
    font-family: $font-tertiary;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__link {
    display: block;

    color: var(--theme-link);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;

    &:hover,
    &:focus {
      color: var(--theme-link-hover);
      text-decoration-thickness: 3px;
    }
  }

  &__title {
    margin: 0;

    font-family: $font-tertiary;
    font-weight: $weight-medium;
  }

  &__date {
    margin: $grid-xxs 0 0;

    color: var(--theme-text-meta);
  }
}
