@use "../config" as *;
@use "sass:map";
@use "sass:list";

.stat-block {
  padding: $grid-m 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: $grid-m;

  &__item {
    padding: $grid-s;

    display: flex;
    flex-direction: column;

    background-color: var(--theme-secondary-background);
    border-left: 4px solid var(--theme-primary);
  }

  &__number {
    color: var(--theme-primary);
    font-family: $font-primary;
    font-size: map.get($large-font-sizes, heading-one);
    font-weight: $weight-bold;
    line-height: 1.1;

    @media #{list.nth(list.nth($breakpoints, 2), 2)} {
      font-size: map.get($medium-font-sizes, heading-one);
    }

    @media #{list.nth(list.nth($breakpoints, 1), 2)} {
      font-size: map.get($small-font-sizes, heading-one);
    }
  }

  &__sentence {
    margin: $grid-xs 0 0;

    color: var(--theme-text-default);
    font-family: $font-secondary;
    font-size: map.get($large-font-sizes, body);
  }

  &__link {
    margin-top: auto;
    padding-top: $grid-xs;

    color: var(--theme-link);
    font-size: map.get($large-font-sizes, supporting);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--theme-link-hover);
    }
  }
}
