@use "../config" as *;

// Ensure TNA containers have proper horizontal padding
.tna-container {
  padding-right: $grid-s;
  padding-left: $grid-s;

  @include media-query(large) {
    padding-right: $grid-m;
    padding-left: $grid-m;
  }
}

// Custom layout utilities for complex layouts that TNA Grid doesn't support
// (e.g., centered content with column offset)
.u-layout {
  padding-right: $grid-s;
  padding-left: $grid-s;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $grid-s;

  @include media-query(large) {
    max-width: $site-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $grid-m;
    padding-left: $grid-m;
    column-gap: $grid-l;
  }
}

// Centered column utilities (for error pages, etc.)
.u-col-centered {
  grid-column: 1 / -1;

  @include media-query(medium) {
    grid-column: 3 / span 8;
  }
}

// Responsive visibility utilities
.u-hide-until-lg-inline {
  display: none;

  @include media-query(large) {
    display: inline;
  }
}
