@use "../config" as *;

.video-embed {
  $root: &;

  &__title {
    margin-bottom: $grid-xs;
  }

  &__description {
    margin-bottom: $grid-s;

    color: var(--theme-text-80);
  }

  &__placeholder {
    background-color: var(--color-grey-200);

    // Hidden after consent is given
    &.hidden {
      display: none;
    }
  }

  &__thumbnail {
    width: 100%;
    height: auto;

    display: block;
    object-fit: cover;
  }

  &__consent {
    padding: $grid-s;

    background-color: var(--color-grey-200);

    h3 {
      margin-top: 0;
      margin-bottom: $grid-xs;
    }

    p {
      margin-bottom: $grid-s;
    }
  }

  &__consent-controls {
    display: flex;
    flex-direction: column;
    gap: $grid-s;

    .checkbox {
      display: flex;
      align-items: center;
      gap: $grid-xxs;
      margin-bottom: $grid-xs;

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin: 0;
        cursor: pointer;
      }

      span {
        cursor: pointer;
        user-select: none;
      }
    }
  }

  &__consent-text {
    margin: 0 0 $grid-s;

    color: var(--theme-text-default);

    a {
      color: var(--theme-primary);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: var(--theme-link-hover);
      }
    }
  }

  &__consent-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $grid-s;
  }

  &__accept-button {
    min-width: 120px;
    padding: $grid-xs $grid-s;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--color-white);
    font-family: $font-primary;
    font-weight: $weight-semibold;
    text-decoration: none;

    border: 2px solid transparent;
    border-radius: 0;

    cursor: pointer;
    transition:
      background-color $transition,
      border-color $transition;
  }

  &__checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: $grid-xxs;
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    margin: 0;

    cursor: pointer;

    &:focus {
      outline: $focus-width solid $focus-bg;
      outline-offset: 2px;
    }
  }

  &__checkbox-label {
    @include font-size(body) {
      color: var(--theme-text-default);

      cursor: pointer;
      user-select: none;
    }
  }

  &__container {
    height: 0;
    padding-bottom: 56.25%; // 16:9 aspect ratio

    overflow: hidden;

    position: relative;

    // Hidden by default until consent is given
    &.hidden {
      display: none;
    }

    iframe,
    .video-js {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      border: 0;
    }
  }

  // Ensure video.js player fills the container
  .video-js {
    &.vjs-fluid,
    &.vjs-16-9,
    &.vjs-4-3 {
      width: 100%;
      height: 100%;
      padding-top: 0;
    }
  }

  // Non-YouTube embeds (direct iframes)
  &__iframe {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    border: 0;
  }
}
