@use "../config" as *;

// Uses https://design-system.nationalarchives.gov.uk/components/footer/ as a base, these are just subtle overrides

.footer {
  .tna-footer__navigation {
    margin-top: $grid-m;
    margin-bottom: $grid-m;

    @include media-query(medium) {
      margin-bottom: 0;
      padding-right: $grid-s;
      padding-left: $grid-s;
    }
  }

  .tna-footer__navigation-block {
    padding-top: 0;
  }

  &__strapline {
    margin-bottom: $grid-m;
  }

  &__heading {
    text-transform: uppercase;
  }

  &__social {
    @include media-query(medium) {
      margin-top: $grid-l;
    }
  }

  .tna-footer__social-item-link {
    padding-bottom: 2px;

    border-bottom: 2px solid transparent;

    transition:
      border-bottom-color $transition,
      opacity $transition;

    &:hover,
    &:focus,
    &:focus-visible {
      border-bottom-color: currentColor;

      opacity: 0.8;
    }
  }
}
