{% extends "layouts/base_page.html" %}
{% from "components/related_content.html" import related_content %}

{% block content %}
  <main class="tna-main" id="main-content">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <h1 class="tna-heading-xl">{{ page_data.title }}</h1>

        {%- if page_data.intro %}
        <div class="tna-large-paragraph tna-!--margin-top-s">
          {{ page_data.intro | tna_html | safe }}
        </div>
        {%- endif %}

        <div class="tna-!--margin-top-l">
          <form method="get" action="{{ page_data.meta.url }}">
            <div class="tna-form__group">
                <label for="search" class="tna-form__label">
                Search archive records
                </label>
                <div class="tna-search">
                <input
                    type="search"
                    id="search"
                    name="q"
                    class="tna-search__input"
                    placeholder="Search by name or description"
                    maxlength="{{ search_max_length }}"
                />
                <button type="submit" class="tna-search__button">
                    Search
                </button>
                </div>
            </div>
          </form>
        </div>

        <h2 class="tna-heading-l tna-!--margin-top-l">Browse by character</h2>

        <ul class="breadcrumb__list tna-!--margin-top-m">
          {%- for char in available_characters %}
          <li class="breadcrumb__item">
            <a href="?character={{ char }}">
              {{ char if char == '0-9' else char | upper }}
            </a>
          </li>
          {%- endfor %}
        </ul>
      </div>
    </div>
    {% if page_data.featured_links %}{{ related_content(page_data.featured_links) }}{% endif %}
  </main>
{% endblock content %}
