services:
  app:
    build:
      context: .
      args:
        IMAGE: ghcr.io/nationalarchives/tna-python-dev
        IMAGE_TAG: latest
    command: ["tna-wsgi", "main:app", "--reload"]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
    environment:
      - ENVIRONMENT_NAME=localhost
      - ALLOW_INSECURE=true
      - CONFIG=config.Develop
      - DEBUG=true
      - SECRET_KEY=abc123
      - NPM_DEVELOP_COMMAND=dev
      - WAGTAIL_API_URL=http://host.docker.internal:8000/api/v2
      - WAGTAIL_SITE_HOSTNAME=webarchive.localhost
      - CACHE_REDIS_URL=redis://redis:6379/0
      - COOKIE_DOMAIN=localhost
      - CSP_IMG_SRC='self',localhost:8000,localhost:65529,*.google-analytics.com,*.gstatic.com,*.nationalarchives.gov.uk,i.ytimg.com,img.youtube.com,maps.googleapis.com
      - CSP_STYLE_SRC='self',fonts.googleapis.com,p.typekit.net,use.typekit.net
      - CSP_FONT_SRC='self',fonts.gstatic.com,use.typekit.net
      - CSP_FRAME_ANCESTORS=localhost:8000

    ports:
      - 65500:8080
    volumes:
      - ./:/app
    healthcheck:
      start_period: 10s
      start_interval: 2s

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 65499:8000

  redis:
    image: redis:6
    expose:
      - 6379
    logging:
      driver: none
