{% extends "layouts/base_page.html" %}
{% block title %}Page not found{% endblock %}
{% block body_class %}template-404{% endblock %}
{% block content %}
    <div class="u-layout">
        <div class="u-col-centered">
            <h1>Page not found</h1>
            <p>If you typed the web address, check it is correct.</p>
            <p>If you pasted the web address, check you copied the entire address.</p>
            <p>
                If the web address is correct or you selected a link or button and still got this error message,
                <a href="https://www.nationalarchives.gov.uk/contact-us/">contact The National Archives</a> if you need to speak to someone about archived websites.
            </p>
        </div>
    </div>
{% endblock %}
