{% extends "layouts/base_page.html" %}
{% from "components/hero.html" import hero %}
{% from "components/featured_search.html" import featured_search %}
{% from "components/related_content.html" import related_content %}
{% from "components/call_to_action.html" import call_to_action %}
{% block content %}
    {{ hero(page.title, page.strapline, page.hero_image, page.hero_image_mobile) }}
    {{ featured_search(page.search_heading, page.search_button_text, page.search_help_text) }}
    {% if page.archive_highlights %}
        {{ related_content(page.archive_highlights, heading="Archive highlights", heading_id="archive-highlights", modifier="archive-highlights") }}
    {% endif %}
    {% if page.recently_archived %}
        {{ related_content(page.recently_archived, heading="Recently archived", heading_id="recently-archived", intro=page.recently_archived_intro, modifier="recently-archived") }}
    {% endif %}
    {% if page.call_to_action %}
        <div class="layout">
            {{ call_to_action(page.call_to_action.title, page.call_to_action.summary, page.call_to_action.link_url, page.call_to_action.link_text, page.call_to_action.image_url) }}
        </div>
    {% endif %}
{% endblock %}
