{% extends "layouts/base_page.html" %}
{% from "components/page_header.html" import page_header %}
{% from "components/featured_search.html" import featured_search %}
{% from "components/card.html" import card %}
{% from "components/pagination.html" import pagination %}
{% block content %}
    {{ page_header(page.title, page.introduction, True, "flush") }}
    {% if page.search_heading %}
        {{ featured_search(page.search_heading, page.search_button_text, page.search_help_text, "secondary") }}
    {% endif %}
    {% if subpages %}
        <section class="card-listing">
            <ul class="card-listing__grid u-layout">
                {% for subpage in subpages.items %}
                    {% set card_title = subpage.listing_title or subpage.title %}
                    {% set card_summary = subpage.listing_summary or subpage.introduction or '' %}
                    {{ card(card_title, subpage.url, card_summary, modifier="listing", clickable=True, grid_classes="col-span-12 md:col-span-6") }}
                {% endfor %}
            </ul>
        </section>
        {{ pagination(subpages) }}
    {% endif %}
{% endblock %}
