{% extends "layouts/base_page.html" %}
{% from "components/page_header.html" import page_header %}
{% from "components/listing_item.html" import listing_item %}
{% from "components/pagination/macro.html" import tnaPagination %}
{% from "components/navigation.html" import sidebar %}
{% from "components/related_content.html" import related_content %}
{% block content %}
    {{ page_header(page_data.title, page_data.intro | tna_html | safe, True, "flush") }}
    <div class="listing-page u-layout">
        <div class="listing-page__main col-span-full md:col-span-8">
            {% if children %}
                <ul class="listing-page__list">
                    {% for child in children %}{{ listing_item(child, child.url) }}{% endfor %}
                </ul>
                {% if pages > 1 %}
                    {{ tnaPagination(pagination) }}
                {% endif %}
            {% endif %}
        </div>
        <aside class="listing-page__sidebar col-span-full md:col-span-4">
            {% if page_data.sidebar_navigation %}
                {{ sidebar(page_data.sidebar_navigation.subpages, page_data.sidebar_navigation.parent_page_title, sidebar_cta) }}
            {% endif %}
        </aside>
    </div>
    {% if related_pages %}
        {{ related_content(related_pages, heading="Also of interest", modifier="archive-highlights") }}
    {% endif %}
{% endblock %}
