{% extends "base.html" %}

{%- from 'components/hero.html' import hero -%}
{%- from 'macros/meta.html' import meta -%}

{% from "components/hero.html" import hero %}
{% from "components/featured_search.html" import featured_search %}
{% from "components/related_content.html" import related_content %}
{% from "components/call_to_action.html" import call_to_action %}

{%- set pageTitle = page_data.short_title or page_data.title -%}

{% block head %}
  {{ super() }}
  {{- meta(page_data) }}
{% endblock head %}

{% block content %}
  {{ hero("UK Government Web Archive", "We capture, preserve and make accessible UK central government information published on the web. The Web Archive includes videos, tweets, images and websites dating from 1996 to the present day.") }}
  {{ featured_search("Find archived government websites and documents", "Search", "Type keywords separated by commas, or a full phrase. You can also search by URL.") }}
  
  {% set firstLinkBlock = page_data.featured_links_sections[0] %}
  {% set secondLinkBlock = page_data.featured_links_sections[1] %}
  {{ related_content(firstLinkBlock.links, heading=firstLinkBlock.heading, heading_id="archive-highlights", modifier="archive-highlights") }}
  {{ related_content(secondLinkBlock.links, heading=secondLinkBlock.heading, heading_id="recently-archived", intro="test", modifier="recently-archived") }}
{% endblock content %}