{% extends "base.html" %}

{%- from 'components/card/macro.html' import tnaCard -%}
{%- from 'macros/meta.html' import meta -%}

{%- set pageTitle = page_data.short_title or page_data.title -%}

{% block head %}
  {{ super() }}
  {{- meta(page_data) }}
{% endblock head %}

{% block content %}
  {%- set top_content %}
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ page_data.title }}</h1>
        <div class="tna-scene-setter">{{ page_data.intro | tna_html | safe }}</div>
      </div>
    </div>
  {%- endset %}

  <div class="tna-section">
    {{ top_content }}
  </div>

  <section class="tna-section tna-container">
    <div class="tna-column tna-column--full">

      {% for subpage in page_data.subpages %}
          {% set card_content = {
              'supertitle': subpage.type_label,
              'title': subpage.title,
              'headingLevel': 3,
              'headingSize': 's',
              'href': subpage.url,
              'text': subpage.teaser_text,
              'style': 'plain',
          } %}

          {{ tnaCard(card_content) }}
      {% endfor %}

    </div>
  </section>
{% endblock content %}